@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(255, 99, 71, 0.7), rgba(220, 20, 60, 0.7));
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  color: purple;
  font-family: 'Lobster';
  text-shadow: 4px 3px 0px #fff, 
               9px 8px 0px rgba(0,0,0,0.15);
  top: 30px;
  text-align: center;
  position: absolute;
  font-size: 80px; 
}
h1 > span {
    display: block;
    transform: rotate(-7.5deg);
  }

a {
  margin: 30px;
  padding: 10px 40px;
  position: relative;
  border: none;
  -webkit-appearance: a;
  font-size: 16px;
}
a, a:hover, a:active, a:visited {
  outline: none;
}

a {
  text-align: center;
  height: 50px;
  background: white;
  overflow: hidden;
  color: crimson;
  cursor: pointer;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation: pulse 1.6s infinite ease-in-out;
}
a:hover {
  animation: none;
}
a:hover:before {
  transform: translate3d(0, -100%, 0);
}
a:hover:after {
  transform: translate3d(0, 100%, 0);
}
a:hover span {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
a span {
  display: block;
  opacity: 0;
  transform: scale3d(0.2, 0.2, 1);
  transition: transform 400ms, opacity 300ms cubic-bezier(0.2, 1, 0.3, 1);
}
a:before, a:after {
  content: attr(data-start);
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(220, 20, 60, 0.85);
  border: 2px solid white;
  overflow: hidden;
  color: white;
  transition: transform 400ms cubic-bezier(0.2, 1, 0.3, 1);
}
a:before {
  height: 50%;
  top: 0;
  border-bottom: none;
  line-height: 2.9;
}
a:after {
  height: 50%;
  top: 50%;
  border-top: none;
  line-height: .1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    transform: scale(0.98);
  }
  80% {
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0.5em 1.6em rgba(255, 255, 255, 0);
    transform: scale(1);
  }
}