body {
    position: relative;
}

streaming {
    width: 100px;
    height: 100px;
    position: relative;
}

h2 {
    font-size: 15px;
    color: black;
    font-family: Arial,sans-serif;
}

#status {
    right: 100px;
    height: 100px;
    width: 300px;
    color: black;
    font-family: Arial,sans-serif;
    position: absolute;
}

#move {
    width:300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

#forward {
    width: 100px;
    height: 100px;
    top: 0;
    right: 100px;
    position: absolute;
    border-radius: 20px;
    background-color: #248;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#forward:hover {
    opacity: 0.8;
}
#back {
    width: 100px;
    height: 100px;
    bottom: 0;
    right:100px;
    position: absolute;
    border-radius: 20px;
    background-color: #248;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#back:hover {
    opacity: 0.8;
}

#right {
    width: 100px;
    height: 100px;
    right: 0;
    top: 100px;
    position: absolute;
    border-radius: 20px;
    background-color: #248;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#right:hover {
    opacity: 0.8;
}

#left {
    width: 100px;
    height: 100px;
    left: 0;
    top: 100px;
    position: absolute;
    border-radius: 20px;
    background-color: #248;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#left:hover {
    opacity: 0.8;
}

#stop {
    width: 80px;
    height: 80px;
    top: 110px;
    right: 110px;
    margin: 0 auto;
    position: absolute;
    border-radius: 60px;
    background-color: #248;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#stop:hover {
    opacity: 0.8;
}

#scoop {
    width: 100px;
    height: 100px;
    top: 200px;
    position: absolute;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#scoop:hover {
    opacity: 0.8;
}

#lift {
    width: 100px;
    height: 100px;
    bottom: 0;
    position: absolute;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#lift:hover {
    opacity: 0.8;
}

#fforward {
    width: 100px;
    height: 100px;
    bottom: 100px;
    position: absolute;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#fforward:hover {
    opacity: 0.8;
}

#fback {
    width: 100px;
    height: 100px;
    bottom: 200px;
    position: absolute;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
    box-shadow:4px 4px #555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#fback:hover {
    opacity: 0.8;
}